body{
    background-image: url("https://www.loliapi.com/acg/?v=1");
              background-size: cover;
              background-attachment: fixed; /* This prevents the background from scrolling */
              height: 100%; /* Ensure full viewport height */
              background-position: center; /* Adjust the position to center bottom */
              position: relative;
  }

  main{
    border-radius: 30px;
    margin: 0 10% 0 10%;
    background-color:rgba(255, 255, 240, 0.726);
    opacity:0.85;
    filter:alpha(opacity=70);
  }
  main p{
    font-weight:bold;
    color:#000000;
    letter-spacing:2px;
    line-height:170%;
    font-size:110%;
    margin: 0 5% 0 5%;
    text-indent:2em;
  }

a {
    font-weight:bold;
    color:#09b3e7;
    letter-spacing:2px;
    line-height:170%;
    font-size:110%;
    margin: 0 5% 0 5%;
    text-indent:2em;
}
h1{
    font-weight:bold;
  letter-spacing:5px;
  line-height:200%;
  text-indent:5%;
  color: #000000;
}
img,
svg,
video {
    max-width: 100%;
    display: block;
}
span.black {
    background-color: black;
    color: black;
}
span.black:hover {
    color: white;
}

.reimu {
    color:#da2b42;
}
.me {
    color:#617172;
}
.sakuya {
    color:#619ac3;
}
.remi {
    color:#c02c38;
}
.hong {
    color:#088563;
}
.flan{
    color:#beca0c;
}
.QUM{
    color:#d461eb;
}
.marisa{
    color:#fbff02;
}
.Alice{
    color:#f8fb41;
}
.Shanghai{
    color:rgba(1, 192, 176, 0.986);
}
.Penglai{
    color:rgba(168,18,17);
}