body{
    background-image: url('B.png');
              background-size: cover;
              background-attachment: fixed; /* This prevents the background from scrolling */
              height: 100%; /* Ensure full viewport height */
              background-position: center; /* Adjust the position to center bottom */
              position: relative;  
  }
  main{
    
    background:url(img/R-C.jpg);
    border-radius: 30px;
    margin: 0 10% 0 10%;
    opacity:0.85;
    filter:alpha(opacity=70);
  }
  main p{
    font-weight:bold;
    color:#ffffff;
    letter-spacing:2px;
    line-height:170%;
    font-size:110%;
    margin: 0 5% 0 5%;
    text-indent:2em;
  }

a {
    font-weight:bold;
    color:#fa0011;
    letter-spacing:2px;
    line-height:170%;
    font-size:110%;
    margin: 0 5% 0 5%;
    text-indent:2em;
}
body {
    background-color: #181818;
    font-family: system-ui;
    font-size: 1.125rem;
    line-height: 2;
    width: min(100ch , 100% - 4rem);
    margin-inline: auto;
}

p,
h1{
    font-weight:bold;
  letter-spacing:5px;
  line-height:200%;
  text-indent:5%;
  color: #ffffff;
}
h2 {
    color: white;
}
p {
    text-indent:2em;
}
a {
    color: #ffffff;
    text-decoration: none;
}
img,
svg,
video {
    max-width: 100%;
    display: block;
}
span.black {
    background-color: black;
    color: black;
}
span.black:hover {
    color: white;
}


.reimu {
    color:#da2b42;
}
.me {
    color:#617172;
}
.sakuya {
    color:#619ac3;
}
.remi {
    color:#c02c38;
}
.hong {
    color:#088563;
}
.flan{
    color:#beca0c;
}